/* Catppuccin Mocha */
window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #1e1e2e;
    border-radius: 12px;
}

#input {
    margin: 5px;
    border: 2px solid #89b4fa;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 8px;
    padding: 8px 12px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #45475a;
    border-radius: 8px;
}

#text:selected {
    color: #89b4fa;
}
